body {
	margin: 0;
	padding: 0;
}
.header{
	color: white;
	border-bottom: 3px solid #d7c6cf;
    background-color: #C06C84;
    width: 1310px;
    height: 15px;
    padding: 20px;
    font-size: 300px:; 
    margin: 5px;
}
.content{
	text-align: center;
}
.item{
	width: 33.3333%;
	display: inline-block;
	float: left; 

}
.box{
	height: 250px;
	background-color: #355C7D;
	margin: 10px;
}
@media(min-width: 769px){

}

